<% include ../partials/header %>


    
        <header class = "jumbotron">
            <div class = "container">
                <h1>Welcome to Foodie!</h1>
                <p>View our our hand-picked restaurants from all over the world</p>
                <p>
                    <a class ="btn btn-primary btn-lg" href = "/restaurants/new">Add new restaurant</a>
                </p>
            </div>
        </header>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% for (var i = 0; i < restaurants.length; i++) { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= restaurants[i].image_url %>">
                            <div class="caption">
                                <h4><%= restaurants[i].name %></h4>
                            </div>
                            <p>
                                <a href = "/restaurants/<%= restaurants[i].id %>" class = "btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
            <% } %>
            
        </div>
        
   
    

<% include ../partials/footer %>